body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0,0,0, 0.05);
  color: rgba(0,0,0, 0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.t-small {
  font-size: 0.7em;
}

.opacity-05 {
  opacity: 0.5;
}

#root{}

.TabPanel_of_DayReceipt {
  /* padding-top: 0; */
}
.TabPanel_of_DayReceipt .MuiBox-root {
  /* padding-top: 0; */
}

.DayReceipt {}

.DayReceipt__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0.6em;
  margin-top: -24px;
}

.ShopReceipt {}
.ShopReceipt__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* SpendPlan ------------ */
.spendPlan {
  display: flex; 
  align-items: center;
}

.spendPlan__day {
  text-align: right;
  padding: 0 10px;
}

.spendPlan__total {
  padding: 0 10px;
}
.spendPlan__total .number {
  min-width: 50px;
}

.spendPlan__dif {}
.spendPlan__dif .number {
  font-size: 1.5em;
  padding: 0px 10px;
}
.spendPlan__dif .number.green {
  border-bottom: 2px solid greenyellow;
}
.spendPlan__dif .number.red {
  border-bottom: 2px solid red;
}


/* Date picker */
.date-picker__group {}
.datePicker__group {
  display: flex;
}
.datePicker__group .MuiInputBase-root {
  border-radius: 4px 0 0 4px !important;
}
.datePicker__group button {
  max-height: 28px;
  max-width: 30px;
}
.datePicker__group button:nth-child(1) {
  border-radius: 0 4px 0 0 !important;
}
.datePicker__group button:nth-child(2) {
  border-radius: 0 0 4px 0 !important;
}